th {
    text-align:center;
}

td {
    text-align:center;
}

.table .td-icon {
    width:50px;
}

.td-edit {
    text-align:right;padding-right:35px;
}

.text-success {
    font-weight:bold;
}

.breadcrumb>.pull-right:before {
    content:"";
}